<h1>SGC</h1>
{{#if user}}
<a href="/logout"><button class="btn btn-danger">Logout</button></a>
<br>
<a href="/registrar"><button class="btn btn-info mt-3">Criar Usuário</button></a>
{{else}}
<a href="/login"><button class="btn btn-success">Login</button></a>
<br>
{{/if}}