<div class="row">
    <div class="col-md-5"> </div>
    <div class="col-md-4"><h1>SGC</h1></div>
    <div class="col-md-3"> </div>
</div>
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <h1>Sistema de Gerenciamento de Clínica</h1>
    </div>
    <div class="col-md-2"> </div>
</div>
<div class="card">
    <div class="card-body">
        <form action="/logar" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" class="form-control"  required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" class="form-control"  required>
        <button type="submit" class="btn btn-success mt-3">Login</button>
        </form>
    </div>
</div>