<h1>Insira suas credenciais</h1>
<div class="card">
    <div class="card-body">
        <form action="/registrar" method="post">
        <label for="usuario">id:</label>
        <input type="text" name="id" class="form-control" required>
        <label for="usuario">Usuario:</label>
        <input type="text" name="usuario" class="form-control" required>
        <label for="usuario">Idade:</label>
        <input type="text" name="idade" class="form-control" required>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" class="form-control" required>
        <label for="senha2">Digite a senha:</label>
        <input type="password" name="senha2" class="form-control" required>
        <button type="submit" class="btn btn-success mt-3">Criar</button>
        </form>
    </div>
</div>